{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "google"],
  "rules": {
    //
    "semi": "off",
    "indent": "off",
    //Отключаем ошибку отсутствия определения super в классе наследнике
    // "constructor-super": "off",
    // Отключаем ошибку - отсутствует описание к функции или классу
    "require-jsdoc": "off",
    // Переключаем ошибку на предупреждение о наличии console.log в коде
    "no-console": "warn",
    // Отключаем ошибку отсутствие пробелов между скобками
    "object-curly-spacing": "off"
  }
}
